/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #6600CC;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style the main content */
.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.side{

     display: flex;
}

/* Style the card container */
.card-container {
  position: relative;
  width: 200%;
  padding-left: 10px;
  height: 200%;
  display: flex;
  margin: 0 auto;
}
.card-container1{
  position: relative;
  width: 200%;
  padding-right: 10px;
  height: 200%;
  display: flex;
  margin: 0 auto;
}


/* Style the individual card */
.card {
    background-color: #f5f5f5;
    border: 10px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px); /* Adjust the width as needed for your layout */
    box-sizing: border-box;
    text-align: center;
}

.card-img {
    max-width: 50%;
    height: auto;
}

.name {
    font-size: 18px;
    margin-top: 10px;
}

.des {
    font-size: 14px;
    margin-top: 10px;
}

.buy-btn {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6600CC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #6600CC;
}

/* Style the footer */
footer {
    background-color: #6600CC;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
